
/* Ocultar la columna de tiempo en vistas list */
.fc-list-event-time {
    display: none;
}

/* Rango de fechas */
.fc-event-range {
    font-size: 0.7rem;
    font-weight: 500;
    opacity: 0.8;
}

/* Horas ejecutadas con contexto */
.fc-event-hours {
    font-size: 0.7rem;
    font-weight: 500;
    opacity: 0.8;
}
