@import '../../../../vendor/filament/filament/resources/css/theme.css';

@source '../../../../app/Filament/**/*';
@source '../../../../resources/views/filament/**/*';

@source '../../../../app/Livewire/**/*';
@source '../../../../resources/views/livewire/**/*';

